@use "./data";
@use "./property";

// Property for each settings tab
@each $id, $nospace in data.$pairs {
    @include property.create($nospace);
}
// Fallback
@include property.create("default");

@property --settingsicons {
    syntax: "show | hide";
    inherits: false;
    initial-value: show;
}
@property --si-size {
    syntax: "<length>";
    inherits: true;
    initial-value: 18px;
}
@property --si-gap {
    syntax: "<length>";
    inherits: true;
    initial-value: 14px;
}

:root {
    container: root;
}

@container root style(--settingsicons: show) {
    .sidebarRegion_c25c6d {
        flex-basis: calc(218px + var(--si-size) + var(--si-gap)) !important;
    }

    // User settings
    .sidebar_c25c6d {
        width: calc(218px + var(--si-size) + var(--si-gap)) !important;

        :is(
                .item_a0 .icon_f7189e,
                .premiumLabel_ae3c77 > svg,
                .premiumLabel_ae3c77 img,
                .tabBarItemContainer_e7c031 > svg,
                .tabBarItemContainer_e7c031 img
            ) {
            display: none;
        }

        // Settings tab
        .side_a0 .item_a0 {
            display: flex;
            align-items: center;

            &::before {
                content: "";
                flex: 0 0 auto;
                width: var(--si-size);
                height: var(--si-size);
                margin-right: calc(var(--si-size) / 2);
                background: currentColor;
                z-index: 2;
                mask: var(--si-default) center/contain no-repeat;
            }

            @each $id, $nospace in data.$pairs {
                &[data-tab-id="#{$id}"]::before {
                    mask: var(--si-#{$nospace}) center/contain no-repeat;
                }
            }

            > div {
                flex: 1 1 auto;
            }
        }
    }
}
