// User settings

$user: (
    "My Account",
    "Games",
    "Profile Customization",
    "Privacy & Safety",
    "Family Center",
    "Authorized Apps",
    "Sessions",
    "Connections",
    "Settings Clips",
    "Friend Requests",
    "Discord Nitro",
    "Nitro Server Boost",
    "Subscriptions",
    "Library Inventory",
    "Billing",
    "Appearance",
    "Accessibility",
    "Voice & Video",
    "Text & Images",
    "Notifications",
    "Keybinds",
    "Language",
    "Windows",
    "Streamer Mode",
    "RTC Speed Test",
    "Advanced",
    "Activity Privacy",
    "Game Activity",
    "Overlay",
    "changelog",
    "merchandise",
    "Hypesquad Online",
    "Powermode Settings",
    "Experiments",
    "Developer Options",
    "Hotspot Options",
    "Dismissible Content Options",
    "StartupTimings",
    "Payment Flow Modals",
    "Design System",
    "Text Playground",
    "Text Component",
    "Profile Effects Preview Tool",
    "Quest Preview Tool",
    "logout",
    "VencordSettings",
    "VencordPlugins",
    "VencordThemes",
    "VencordUpdater",
    "VencordCloud",
    "VencordSettingsSync",
    "VencordPatchHelper",
    "Vesktop"
);
